# 忽略数据集文件夹
humanml3d_272/
babel_272
motion/
visualize_result/
babel_272/
anim/
checkpoints_ddpm_t2m/
motion/
checkpoints_ddpm_t2m/

# 可选：忽略其他常见不需要的文件
__pycache__/
*.pyc
*.log
*.tmp
*.zip
*.tar.gz
*.pth
*.pt
*.ckpt
.idea/
.vscode/
.DS_Store
